<div ng-controller="DownloadCsvItemSettingCtrl" ng-cloak="" class="navBardemoBasicUsage">

  <!--ヘッダー読み込み-->
  <navitop></navitop>
  
  <!--エラーメッセージ-->
  <div ng-show="error" class="alert alert-danger">{{error}}</div>


  <div class="md-toolbar-tools">
    <h3 class="ng-binding ng-isolate-scope">
      <a class="docs-anchor ng-scope" ng-href="#basic-usage" name="basic-usage" href="#basic-usage">CSVデータ設定</a>
    </h3>
  </div>

  <md-card>
    <!--開始期間-->
    <md-card-content>
      <md-input-container class="nito-datepicker">
        <label>開始期間</label>
        <md-datepicker ng-model="downloadStartDate"></md-datepicker>
      </md-input-container>
    </md-card-content>
    <!--終了期間-->
    <md-card-content>
      <md-input-container class="nito-datepicker">
        <label>終了期間</label>
        <md-datepicker ng-model="downloadEndDate"></md-datepicker>
      </md-input-container>
    </md-card-content>
    <!--デバイスセレクトボックス-->
    <md-card-content>
      <md-input-container class="md-block" flex-gt-sm>
        <label>デバイス</label>
        <md-select ng-model="deviceList">
          <md-option ng-repeat="item in deviceList" value="{{item.id}}">
            {{item.name}}
          </md-option>
        </md-select>
      </md-input-container>
    </md-card-content>
      <!--デバイスセレクトボックス-->
    <!--ダウンロードデータセレクトボックス-->
    <md-card-content>
      <md-input-container class="md-block" flex-gt-sm>
        <label>ダウンロードデータ</label>
        <md-select ng-model="selectItem">
          <md-option ng-repeat="item in selectItems" value="{{item.value}}">
            {{item.label}}
          </md-option>
        </md-select>
      </md-input-container>
    </md-card-content>
    <md-card-content>
      <!--ダウンロードボタン-->
      <div layout layout-align="center">
      <md-button class="md-accent md-button md-ink-ripple" type="button" ng-click="download()" ng-transclude="">
        <div class="md-ripple-container">ダウンロード</div>
      </md-button>
    </div>
    </md-card-content>
  </md-card>

</div>


<footer class="footer">
</footer>
