<div ng-controller="DownloadCsvItemSettingCtrl" ng-cloak="" class="navBardemoBasicUsage">

  <!--ヘッダー読み込み-->
  <navitop></navitop>

  <div class="md-toolbar-tools">
    <h3 class="ng-binding ng-isolate-scope">
      <a class="docs-anchor ng-scope" ng-href="#basic-usage" name="basic-usage" href="#basic-usage">CSVデータ設定</a>
    </h3>
  </div>

  <md-card>
    <!--開始期間-->
    <md-card-content>
      <md-input-container>
        <label>開始期間</label>
        <md-datepicker ng-model="downloadStartDate"></md-datepicker>
      </md-input-container>
    </md-card-content>
    <!--終了期間-->
    <md-card-content>
      <md-input-container>
        <label>終了期間</label>
        <md-datepicker ng-model="downloadEndDate"></md-datepicker>
      </md-input-container>
    </md-card-content>
    <!--ダウンロードデータセレクトボックス-->
    <md-card-content>
      <md-input-container class="md-block" flex-gt-sm>
        <label>ダウンロードデータ</label>
        <md-select ng-model="downloadSelectItem">
          <md-option ng-repeat="item in selectItem" value="{{item.labe}}">
            {{item.label}}
          </md-option>
        </md-select>
      </md-input-container>
    </md-card-content>
    <md-card-content>
      <!--ダウンロードボタン-->
      <md-button class="md-accent md-button md-ink-ripple" type="button" ng-transclude=""　ngclick="download()">
        <div class="md-ripple-container">ダウンロード</div>
      </md-button>
    </md-card-content>
  </md-card>

</div>


<footer class="footer">
</footer>
