extends ./layout.pug

block script

block content
    #quake-data
        .quake-time
            h2.ui-subtitle3 #{deviceName}
    ul(data-role='listview', data-inset='true')
        li
            a(href='/quake/#{user.name}', rel='external')
                img(src='/images/earthquake.png')
                h2 地震速報履歴
                p 外出先での地震確認
        li
            a(href='/thunder/#{user.name}', rel='external')
                img(src='/images/lightning.svg', width='50%')
                h2 雷発生状況
                p 外出先での雷確認
            
    p
        a(href='/logout', rel='external') ログアウト
