.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.navbar-text {
    margin-left: 15px;
}

.md-toolbar-tools h1 {
    font-size: inherit;
    font-weight: inherit;
    margin: inherit;
}

.md-padding {
    min-height: 180px; }

    .navBardemoBasicUsage md-content .ext-content {
  padding: 50px;
  margin: 20px;
  background-color: #FFF2E0; }


  ul{
    list-style:none;
    -webkit-padding-start: 0;
  }

  .md-subhead{
    font-family: .HiraKakuInterface-W7;
    font-size: 17px;
    color: rgba(0,0,0,0.87);
    letter-spacing: 0;
    line-height: 24px;
  }

/**カスタム*********************************/

  /**ツールバー**/
  .md-toolbar-tools{
    background-color: #4D6BD0;
    color: white;
  }

  /**カード**/
  md-card md-card-title{
    border-bottom: 1px solid #E3E3E3;
    padding: 16px 16px 16px;
  }

  /**カードタイトル　テキスト**/
  md-card md-card-title md-card-title-text .md-subhead{
    padding-top: 0px;
    font-family: HiraKakuInterface-W7;
    font-size: 17px;
    color: rgba(0,0,0,0.87);
    letter-spacing: 0;
    line-height: 24px;
  }
  md-card md-card-title md-card-title-text:only-child .md-subhead{
      padding-top: 0px;
      font-family: HiraKakuInterface-W7;
      font-size: 17px;
      color: rgba(0,0,0,0.87);
      letter-spacing: 0;
      line-height: 24px;
  }

  /**カード**/
  md-card md-card-content{
    border-bottom: 1px solid #E3E3E3;
  }
