.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.navbar-text {
    margin-left: 15px;
}

.md-toolbar-tools h1 {
    font-size: inherit;
    font-weight: inherit;
    margin: inherit;
}

.md-padding {
    min-height: 180px; }

    .navBardemoBasicUsage md-content .ext-content {
  padding: 50px;
  margin: 20px;
  background-color: #FFF2E0; }


  ul{
    list-style:none;
    -webkit-padding-start: 0;
  }

  .md-subhead{
    font-family: .HiraKakuInterface-W7;
    font-size: 17px;
    color: rgba(0,0,0,0.87);
    letter-spacing: 0;
    line-height: 24px;
  }

/**カスタム*********************************/

  /**ツールバー**/
   /***TODO #d0021bに変える**/
  /*md-content .md-toolbar-tools,.md-toolbar-tools{
    background-color: #4D6BD0;
    color: white;
  }

  .md-toolbar-tools input{
    background: none;
    border: none;
  }


  md-sidenav md-toolbar{

  }*/

  /**カード**/

  /**カードタイトル　テキスト**/
  /*md-card md-card-title md-card-title-text .md-subhead{
    padding-top: 0px;
    font-family: HiraKakuInterface-W7;
    font-size: 17px;
    color: rgba(0,0,0,0.87);
    letter-spacing: 0;
    line-height: 50px;
    font-weight: bold;

  }*/
  /*md-card md-card-title md-card-title-text:only-child .md-subhead{
      padding-top: 0px;
      font-family: HiraKakuInterface-W7;
      font-size: 17px;
      color: rgba(0,0,0,0.87);
      letter-spacing: 0;
      line-height: 50px;
      padding-left: 15px;
      font-weight: bold;
  }*/

    /*.md-subhead2{
    font-family: .HiraKakuInterface-W3;
    font-size: 17px;
    color: rgba(0,0,0,0.87);
    letter-spacing: 0;
    line-height: 24px;
    }
*/


  /**カード**/
  /*md-card md-card-content{
    border-bottom: 1px solid #E3E3E3;
    padding-top: 16px !important;
  }

  .container{
     margin-right: 0;
     margin-left: 0;
  }

  .navbar-brand{
    font-family: .HiraKakuInterface-W3;
    font-size: 20px;
    color: rgba(0,0,0,0.87);
    padding: 12px 15px;
    letter-spacing: 0;
    line-height: 28px;
  }
  .navbar{
    margin-bottom:0;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.12), 0 4px 4px 0 rgba(0,0,0,0.24);
  }*/

  /**TODO きちんと表示されるように**/
  /*md-input-container{
    padding-top: 22px;
    padding-left: 30px;
    padding-bottom:0;
    margin: 0;
  }*/

  /*md-input-container input{
  border-bottom: 1px solid rgb(255, 255, 255);
  }

  .md-contentPaddingBottom{
    padding-bottom: 20px;
  }

  .md-display-3{
    font-family: .HiraKakuInterface-W7;
    font-size: 64px;
    color: rgba(0,0,0,0.87);
    line-height: 64px
  }*/
  /**GoogleMAP**/
  /*.map .angular-google-map-container {
  	height: 600px;
  }
  .mapDetail .angular-google-map-container {
  	height: 200px;
  }

  .google-chart{
    height: 300px;
  }

  .md-docs-dark-theme{
      margin-top: 4px;
}

  ul{
    padding-left: 0;
  }*/


  /**ナビバー**********************************************************/
  /**ハンバーガーメニューー**/
  .material-icons{
    opacity: 0.54;
  }
  /**ナビバー背景**/
  .commonNavbar{
    background: #F5F5F5 !important;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.12), 0 4px 4px 0 rgba(0,0,0,0.24);
  }
  /**ナビバー位置**/
  .navbar{
    margin-bottom: 0px
  }
  /**ナビバーテキスト**/
  .md-toolbar-tools h2{
    font-family: .HiraKakuInterface-W3;
    font-size: 20px;
    color: rgba(0,0,0,0.87);
    letter-spacing: 0;
    line-height: 28px;
    padding-left: 15px;
  }

  /**各ページ情報バー**********************************************************/
  .md-toolbar-tools{
    background: #526CC9;
  }
  /* 基本情報: */
  .md-toolbar-tools h3{
    font-family: .HiraKakuInterface-W3;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 28px;
  }

  /**カード*******************************************************************/


  md-card{
    margin-bottom: 40px;
  }

  /**デバイス一覧用**/
  ul md-card{
    margin-bottom: 20px;
  }

  /**コンテント**/
  md-card-content{
    border-bottom: 1px solid #E3E3E3;
    /*padding-top: 16px !important;*/
  }

  md-card md-card-title md-card-title-text{
    border-bottom: 1px solid #E3E3E3;
    /*padding: 0px 0px 0px;*/
  }


  /***レイアウト用空白***/
  .md-card-blank-top{
    margin-top: 25px;
  }

  /**文字**/
  .md-body-1{
    font-family: .HiraKakuInterface-W3;
    font-size: 14px;
    color: rgba(0,0,0,0.54);
    line-height: 24px;
  }

  .md-body-3{
    font-family: .HiraKakuInterface-W3;
    font-size: 17px;
    color: rgba(0,0,0,0.87);
    letter-spacing: 0;
    line-height: 24px;
  }

    .md-body-4{
    font-family: .HiraKakuInterface-W3;
    font-size: 17px;
    color: rgba(0,0,0,0.86);
    margin: 17px 0px;
  }
  .md-body-5{
    font-family: .HiraKakuInterface-W3;
    font-size: 14px;
    color: rgba(0,0,0,0.54);
    margin: 17px 0px;
  }

  .md-body-5{
      /* 感知あり: */
    font-family: .HiraKakuInterface-W7;
    font-size: 17px;
    color: rgba(0,0,0,0.87);
    letter-spacing: 0;
    line-height: 24px;
    font-weight: bold;      /**オリジナル**/
  }

  .md-body-6{
      /* 震度・雷 */
    font-family: .HiraKakuInterface-W7;
    font-size: 64px;
    color: rgba(0,0,0,0.87);
    line-height: 64px;
    font-weight: bold;       /**オリジナル**/
  }

  .md-body-7{
    font-family: .HiraKakuInterface-W3;
    font-size: 20px;
    color: rgba(0,0,0,0.87);
    letter-spacing: 0;
    line-height: 24px;
  }
.md-body-8{
    /* ホームチェッカー: */
  font-family: .HiraKakuInterface-W7;
  font-size: 20px;
  color: rgba(0,0,0,0.87);
  letter-spacing: 0;
  line-height: 24px;
  font-weight: bold;
}

  md-list-item .md-list-item-inner{
    border-bottom: solid 1px #E3E3E3;
  }

  .md-list-item-2{
    border-bottom: solid 1px #E3E3E3;
  }

  .md-list-item-2 .md-list-item-inner{
    border-bottom: none;
  }

/**ボタン*******************************************************************/

  /* ボタン */
  .md-text-button-1{
  border-radius: 2px;
  }
  .md-text-button-2{
  background: #D0011B;
  border-radius: 2px;
  }

  /* ボタンのテキスト　*/
  .md-ripple-container{
    font-family: .HiraKakuInterface-W3;
    font-size: 14px;
    letter-spacing: 0.5px;
  }
  .md-ripple-container-1{
  color: #D0011B;
}
  .md-ripple-container-2{
    color: #FFFFFF;
  }

  buttondetail {
    line-height: 0px;
}

/**ダイアログ*******************************************************************/
 md-dialog md-dialog-content .md-prompt-input-container{
   margin-bottom: 0px;
 }


 md-dialog md-dialog-content .md-prompt-input-container-2{
   margin-top: 0;
 }

 .md-button.md-default-theme.md-primary, .md-button.md-primary{
   color: #D0011B;
 }

/**GoogleMAP*******************************************************************/
 .map .angular-google-map-container {
  height: 600px;
 }
 .mapDetail .angular-google-map-container {
  height: 200px;
 }

/**ログイン画面*******************************************************************/

 /* app bar bg: */
 .loginbar{
background: #F5F5F5;
box-shadow: 0 0 4px 0 rgba(0,0,0,0.12), 0 4px 4px 0 rgba(0,0,0,0.24);
height: 300px;
margin: 0;
}

 .loginContent{
background: #FFFFFF;
box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
border-radius: 2px;
border: 1px solid rgba(0,0,0,0.12);
position: absolute;
position: relative;
top: -100px;
padding: 50px;
}

 .loginContent md-input-container{
   margin-bottom: 0px;
 }

.loginText{
  text-align: center;
  padding: 25px;
}

.logoContent{
  text-align: center;
  padding: 70px;
}
