<div ng-controller="DeviceListCtrl" ng-cloak="" class="navBardemoBasicUsage">
  <!--ヘッダー読み込み-->
  <navitop></navitop>
  <div class="md-toolbar-tools" layout="column">
    <!-- <h3 class="ng-binding ng-isolate-scope">
      <a class="docs-anchor ng-scope" ng-href="#basic-usage" name="basic-usage" href="#basic-usage">デバイス一覧</a>
    </h3> -->
      <!-- <md-input-container md-no-float="" class="md-block md-input-has-placeholder md-input-has-value">
          <input ng-model="query" placeholder="絞り込み" class="ng-valid md-input ng-dirty ng-valid-parse ng-touched ng-not-empty" aria-label="Address 2">
          <div class="md-errors-spacer"></div>
      </md-input-container> -->
        <md-card-title-text>
      <md-input-container class="md-block md-input-has-placeholder md-input-has-value searchInputArea md-docs-dark-theme" flex-gt-sm>
        <input ng-model="query" placeholder="絞り込み" class="ng-valid md-input ng-dirty ng-valid-parse ng-touched ng-not-empty">
      </md-input-container>
    </md-card-title-text>
  </div>



  <div ng-cloak>
    <!-- <md-content class="md-padding"> -->
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="一覧">
          <!-- <md-content class="md-padding"> -->
<ul>
  <li ng-repeat="item in deviceList | filter:query">

<!--デバイスカード-->
  <md-card>

    <md-list-item class="md-list-item-2" ng-click="deviceDetail()">
      <p class="md-body-5">{{item.deviceName}}</p>
      <buttondetail></buttondetail>
    </md-list-item>


 <!--デバイスカード　コンテンツ-->
  <md-card-content>
    <!--職場責任者・連絡先-->
    <div class="md-contentPaddingBottom">
            <div class="md-body-1">職場責任者：{{item.responsiblePerson}}</div>
            <div class="md-body-1">連絡先：{{item.telNo}}</div>
            <!--TODO 発生日時--->
            <div class="md-body-1">発生日時：{{item.telNo}}</div>
    </div>

    <div layout="row" layout-wrap class="md-card-blank-top">
        <span class="md-body-3" ng-hide="item.status == 0 ">感知あり</span>
        <span class="md-body-3" ng-hide="item.status != 0 ">感知なし</span>
    </div>

    <!--ステータスが異常ありの場合-->
    <div ng-if="item.status != 0">

    <!-- <div layout="row" layout-wrap> -->
      <!--地震の場合-->
      <div layout="row" class="md-contentPaddingBottom" layout-wrap ng-if="item.type == 'earthquake'">
        <div flex="25">
          <p flex class="md-body-1">傾き</p>
          <p flex class="md-body-1">商用停電</p>
          <p flex class="md-body-1">機器異常</p>
        </div>
        <div flex="40">
          <p flex class="md-body-3">{{item.slope}}</p>
          <p flex class="md-body-3">{{item.commercialBlackout}}</p>
          <p flex class="md-body-3">{{item.equipmentAbnormality}}</p>
        </div>
        <div>
        <div flex class="md-body-1">震度</div>
        <div flex class="md-body-6">{{item.seismicIntensity}}</div>
      </div>
      </div>
      <!--雷の場合-->
      <div layout="row" class="md-contentPaddingBottom" layout-wrap ng-if="item.type == 'thunder'">
        <div flex="25">
          <p flex class="md-body-1">漏電</p>
          <p flex class="md-body-1">商用停電</p>
          <p flex class="md-body-1">機器異常</p>
        </div>
        <div flex="40">
          <p flex class="md-body-3">{{item.leakage}}</p>
          <p flex class="md-body-3">{{item.commercialBlackout}}</p>
          <p flex class="md-body-3">{{item.equipmentAbnormality}}</p>
        </div>
        <div>
          <div flex class="md-body-1">雷</div>
          <div flex class="md-body-6">{{item.power}}</div>
        </div>
      </div>


      　<div class="md-body-1">コメント・連絡事項</div>
    <!-- <div > -->
        <ul>
          <li layout="row">
          <p class="md-body-3">{{comment}} {{commentDate}}</p>
        </li>
      </ul>
  </md-card-content>
</md-card>
</li>
</ul>
</md-tab>
<!--グラフタブ--------------->
        <md-tab label="グラフ">

            <md-input-container class="md-block" flex-gt-sm>
              <label>グラフの表示期間を選択</label>
                <md-select ng-change="changeItem" ng-model="selectItem">
                <md-option ng-repeat="item in selectItems" value="{{item.value}}">
                  {{item.label}}
                </md-option>
              </md-select>
            </md-input-container>



      <ul>
        <li ng-repeat="item in deviceList | filter:query">

        <md-card>
          <md-list-item class="md-list-item-2" ng-click="deviceDetail()">
            <p class="md-body-5">{{item.deviceName}}</p>
            <buttondetail></buttondetail>
          </md-list-item>
       <!--デバイスカード　コンテンツ-->
        <md-card-content>
          <!--地震データ有りの場合 グラフを表示する-->
          <div id={{item.deviceId}}  class="google-chart">
          </div>
          <!--地震データ無しの場合 地震データ無しの文言を表示する-->
          <!-- <div ng-if="!item.earthquakeHistoryList.length">
          <p flex class="md-body-1">地震データなし</p>
          </div> -->
          </md-card-content>
      </md-card>

        </li>
      </ul>
        </md-tab>

<!--マップタブ--------------->
        <md-tab label="マップ">
            <!--MAP-->
            <div class="map">
              <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true">
                <ui-gmap-markers models="markers" coords="'self'" icon="'icon'"></ui-gmap-markers>
              </ui-gmap-google-map>
            </div>
        </md-tab>


      </md-tabs>
  </div>
</div>






<footer class="footer">
</footer>
