<div ng-controller="DeviceListCtrl" ng-cloak="" class="navBardemoBasicUsage">
  <!--ヘッダー読み込み-->
  <navitop></navitop>
  <div class="md-toolbar-tools" layout="column">
    <h3 class="ng-binding ng-isolate-scope">
      <a class="docs-anchor ng-scope" ng-href="#basic-usage" name="basic-usage" href="#basic-usage">デバイス一覧</a>
    </h3>
      <md-input-container md-no-float="" class="md-block md-input-has-placeholder md-input-has-value">
          <input ng-model="query" placeholder="絞り込み" class="ng-valid md-input ng-dirty ng-valid-parse ng-touched ng-not-empty" aria-label="Address 2">
          <div class="md-errors-spacer"></div>
        </md-input-container>
  </div>



  <div ng-cloak>
    <md-content class="md-padding">
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="サマリー情報">
          <md-content class="md-padding">
<ul>
  <li ng-repeat="item in deviceList | filter:query">

<!--デバイスカード-->
  <md-card>
  <!--デバイスカード　タイトル（デバイス名）-->
  <md-card-title>
    <!--タイトル（デバイス名）-->
    <md-card-title-text>
      <span class="md-subhead">{{item.deviceName}}</span>
    </md-card-title-text>
    <!--リンク-->
     <md-button ng-click="deviceDetail()">
        <svg width="24px" height="24px" viewBox="315 15 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs></defs>
          <g id="Material/Icons-black/chevron-right" stroke="none" fill="none" transform="translate(315.000000, 15.000000)" fill-rule="evenodd">
              <polygon id="Shape" fill="#D8001A" points="8.59997559 7.4 9.99997559 6 15.9999756 12 9.99997559 18 8.59997559 16.6 13.1999756 12"></polygon>
          </g>
        </svg>
    </md-button>
  </md-card-title>

 <!--デバイスカード　コンテンツ-->
  <md-card-content>
    <!--職場責任者・連絡先-->
    <div class="md-contentPaddingBottom">
            <p flex="50" class="md-body-1">職場責任者：{{item.responsiblePerson}}</p>
            <p flex="50" class="md-body-1">連絡先：{{item.telNo}}</p>
    </div>
    <!--ステータス-->
    <div layout="row" layout-wrap>
        <span class="md-subhead" ng-hide="item.status == 0 ">感知あり</span>
        <span class="md-subhead" ng-hide="item.status != 0 ">感知なし</span>

    </div>
    <!--ステータスが異常ありの場合-->
    <div ng-if="item.status != 0">

    <!-- <div layout="row" layout-wrap> -->
      <!--地震の場合-->
      <div layout="row" class="md-contentPaddingBottom" layout-wrap ng-if="item.type == 'earthquake'">
        <div flex="35">
          <p flex class="md-body-1">傾き</p>
          <p flex class="md-body-1">商用停電</p>
          <p flex class="md-body-1">機器異常</p>
        </div>
        <div flex="35">
          <p flex class="md-subhead">{{item.slope}}</p>
          <p flex class="md-subhead">{{item.commercialBlackout}}</p>
          <p flex class="md-subhead">{{item.equipmentAbnormality}}</p>
        </div>
        <div flex>
        <div flex class="md-body-1">震度</div>
        <div flex class="md-display-3">{{item.seismicIntensity}}</div>
      </div>
      </div>
      <!--雷の場合-->
      <div layout="row" class="md-contentPaddingBottom" layout-wrap ng-if="item.type == 'thunder'">
        <div flex="35">
          <p flex class="md-body-1">漏電</p>
          <p flex class="md-body-1">商用停電</p>
          <p flex class="md-body-1">機器異常</p>
        </div>
        <div flex="35">
          <p flex class="md-subhead">{{item.leakage}}</p>
          <p flex class="md-subhead">{{item.commercialBlackout}}</p>
          <p flex class="md-subhead">{{item.equipmentAbnormality}}</p>
        </div>
        <div flex>
          <div flex class="md-body-1">雷</div>
          <div flex class="md-display-3">{{item.power}}</div>
        </div>
      </div>


      　<p class="md-body-1">コメント・連絡事項</p>
    <!-- <div > -->
        <ul>
          <li layout="row" ng-repeat="i in item.commentList">
          <p class="md-subhead">{{i.comment}} {{i.commentDate}}</p>
        </li>
      </ul>
    <!-- </div> -->


  </md-card-content>
</md-card>

<!--デバイスカード終わり-->
</li>
</ul>

          </md-content>
        </md-tab>
        <md-tab label="グラフ">
          <md-content class="md-padding">
<ul>
  <li ng-repeat="item in deviceList | filter:query">

<!--デバイスカード-->
  <md-card>
  <!--デバイスカード　タイトル（デバイス名）-->
  <md-card-title>
    <!--タイトル（デバイス名）-->
    <md-card-title-text>
      <span class="md-subhead">{{item.deviceName}}</span>
    </md-card-title-text>
    <!--リンク-->
     <md-button ng-click="deviceDetail()">
        <svg width="24px" height="24px" viewBox="315 15 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs></defs>
          <g id="Material/Icons-black/chevron-right" stroke="none" fill="none" transform="translate(315.000000, 15.000000)" fill-rule="evenodd">
              <polygon id="Shape" fill="#D8001A" points="8.59997559 7.4 9.99997559 6 15.9999756 12 9.99997559 18 8.59997559 16.6 13.1999756 12"></polygon>
          </g>
        </svg>
    </md-button>
  </md-card-title>

 <!--デバイスカード　コンテンツ-->
  <md-card-content>
    <!--職場責任者・連絡先-->
    <div class="md-contentPaddingBottom">
            <p flex="50" class="md-body-1">職場責任者：{{item.responsiblePerson}}</p>
            <p flex="50" class="md-body-1">連絡先：{{item.telNo}}</p>
    </div>
    <!--ステータス-->
    <div layout="row" layout-wrap>
        <span class="md-subhead" ng-hide="item.status == 0 ">感知あり</span>
        <span class="md-subhead" ng-hide="item.status != 0 ">感知なし</span>

    </div>
    <!--ステータスが異常ありの場合-->
    <div ng-if="item.status != 0">

    <!-- <div layout="row" layout-wrap> -->
      <!--地震の場合-->
      <div layout="row" class="md-contentPaddingBottom" layout-wrap ng-if="item.type == 'earthquake'">
        <div flex="35">
          <p flex class="md-body-1">傾き</p>
          <p flex class="md-body-1">商用停電</p>
          <p flex class="md-body-1">機器異常</p>
        </div>
        <div flex="35">
          <p flex class="md-subhead">{{item.slope}}</p>
          <p flex class="md-subhead">{{item.commercialBlackout}}</p>
          <p flex class="md-subhead">{{item.equipmentAbnormality}}</p>
        </div>
        <div flex>
        <div flex class="md-body-1">震度</div>
        <div flex class="md-display-3">{{item.seismicIntensity}}</div>
        </div>
      </div>
      <!--雷の場合-->
      <div layout="row" class="md-contentPaddingBottom" layout-wrap ng-if="item.type == 'thunder'">
        <div flex="35">
          <p flex class="md-body-1">漏電</p>
          <p flex class="md-body-1">商用停電</p>
          <p flex class="md-body-1">機器異常</p>
        </div>
        <div flex="35">
          <p flex class="md-subhead">{{item.leakage}}</p>
          <p flex class="md-subhead">{{item.commercialBlackout}}</p>
          <p flex class="md-subhead">{{item.equipmentAbnormality}}</p>
        </div>
        <div flex>
          <div flex class="md-body-1">雷</div>
          <div flex class="md-display-3">{{item.power}}</div>
        </div>
      </div>


      　<p class="md-body-1">コメント・連絡事項</p>
    <!-- <div > -->
        <ul>
          <li layout="row" ng-repeat="i in item.commentList">
          <p class="md-subhead">{{i.comment}} {{i.commentDate}}</p>
        </li>
      </ul>
    <!-- </div> -->
    </div>

  </md-card-content>
</md-card>

<!--デバイスカード終わり-->
</li>
</ul>

          </md-content>
        </md-tab>
        <md-tab label="マップ">
          <md-content class="md-padding">
            <!--MAP-->
            <div class="map">
              <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true">
                <ui-gmap-markers models="markers" coords="'self'" icon="'icon'"></ui-gmap-markers>
              </ui-gmap-google-map>
            </div>
            
          </md-content>
        </md-tab>
      </md-tabs>
    </md-content>
  </div>
</div>






<footer class="footer">
</footer>
