<div ng-controller="DeviceGroupCtrl" ng-cloak="" class="navBardemoBasicUsage">

  <!--ヘッダー読み込み-->
  <navitop></navitop>

  <div class="md-toolbar-tools">
    <h3 class="ng-binding ng-isolate-scope">
      <a class="docs-anchor ng-scope" ng-href="#basic-usage" name="basic-usage" href="#basic-usage">基本情報</a>
    </h3>
  </div>

  <md-card>
      <md-card-content>
      <md-card-title-text>
        <div class="md-body-1">グループID</div>
        <div class="md-body-3">{{deviceGroupData[0].groupId}}</div>
      </md-card-title-text>
    </md-card-content>



    <md-card-content>
      <div layout="colom">
      <md-card-title-text>
        <div class="md-body-1">グループ名前</div>
        <div class="md-body-3">{{deviceGroupData[0].groupName}}</div>
      </md-card-title-text>
      <md-button ng-click="deviceNameEdit()">
        <buttonpen></buttonpen>
      </md-button>
    </div>
    </md-card-content>

  </md-card>


  <!--ツールバー--->

  <div class="md-toolbar-tools">
    <h3 class="ng-binding ng-isolate-scope">
      <a class="docs-anchor ng-scope" ng-href="#basic-usage" name="basic-usage" href="#basic-usage">管理</a>
    </h3>
  </div>

  <div ng-cloak>


      <md-tabs md-dynamic-height md-border-bottom>
          <!--デバイスタブ-->
          <md-tab label="デバイス">
              <md-card>
                  <ul>
                    <li ng-repeat="item in deviceGroupData[0].deviceList | filter:query">

                      <div layout="colom">
                      <p class="md-body-4">{{item.deviceName}}</p>
                        <md-button ng-click="deviceDetail()">
                            <buttondetail></buttondetail>
                        </md-button>
                      </div>
                    </li>
                  </ul>
              </md-card>
          </md-tab>

        <!--アラートタブ-->
          <md-tab label="アラート一覧">
            <!-- <md-content class="md-padding"> -->
              <md-card>
                  <ul>
                    <li ng-repeat="item in deviceGroupData[0].alertNotificationList">

                      <div layout="colom">
                      <p class="md-body-4">{{item.name}}</p>
                      <p class="md-body-5">{{item.mailAddress}}</p>
                      <md-button ng-click="mailAddressEdit()">
                        <buttonpen></buttonpen>
                      </md-button>
                      <md-button ng-click="mailAddressDelete()">
                        <buttontrashbox></buttontrashbox>
                      </md-button>
                    </div>
                    </li>
                  </ul>
                  <!--ボタン-->
              <div layout>
                <md-button flex class="md-accent md-button md-ink-ripple md-text-button-1" type="button" ng-click="alertSetting()" ng-transclude="">
                  <div class="md-ripple-container md-ripple-container-1">通知設定</div>
                </md-button>
                <md-button flex class="md-accent md-button md-ink-ripple md-text-button-2" type="button" ng-click="mailAddressAdd()" ng-transclude="">
                  <div class="md-ripple-container md-ripple-container-2">追加</div>
                </md-button>
              </div>

                </md-card>
            <!-- </md-content> -->
          </md-tab>

      </md-tabs>
  </div>
</div>






<footer class="footer">
</footer>
