<div ng-controller="DocumentsSettingCtrl" ng-cloak="" class="navBardemoBasicUsage">

  <!--ヘッダー読み込み-->
  <navitop></navitop>
  



  <md-card>
    <md-card-content>
      <md-list-item ng-click="catalogDL('a')">
        <p class="md-body-2">商品A　カタログ</p>
        <buttondetail></buttondetail>
      </md-list-item>
      <md-list-item ng-click="catalogDL('b')">
        <p class="md-body-2">商品B　カタログ</p>
        <buttondetail></buttondetail>
      </md-list-item>
    </md-card-content>
  </md-card>

</div>


<footer class="footer">
</footer>
