.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.thamb {
width: 128px;
border-radius: 128px;
-webkit-border-radius: 128px;
-moz-border-radius: 128px;
}
.ui-center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.ui-table td.ui-cell-right {
    text-align: right;
}

.ui-margin-bottom {
    margin-bottom:20px;
}
.ui-margin-bottom-large {
    margin-bottom:40px;
}
.ui-subtitle1 {
    color: #000000;
    font-size: 1.2em;
    margin:  2em 0 0 0;   
    text-shadow: 0px 1px 0px #F3F3F3;
}
.ui-subtitle2 {
    color: #000000;
    border-bottom: 1px solid #DDD;
    font-size: 1.2em;
    padding-bottom: 0.2em;
    margin: 0px 0px 0.7375em;   
    text-shadow: 0px 1px 0px #F3F3F3;
}
.ui-subtitle3 {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    text-shadow:none;
}
.ui-subtitle4 {
    color: #000000;
    font-size: 1.2em;
    padding-bottom: 0;
    margin: 0;   
    text-shadow: 0px 1px 0px #F3F3F3;
}
.ui-color-lightred {
    background: rgba(0,0,0,.04)
}
.ui-header .ui-title {
    margin-left: 10%;
    margin-right: 10%;
}
.ui-table-columntoggle-btn {
    display: none;
}
.ui-body-a th,
.ui-body-a td,
.ui-body-c th,
.ui-body-c td{
    border-left: 1px #dcdcdc solid;
    border-right: 1px #dcdcdc solid;
}
#legend {
    margin: auto;
    font-size: 10pt;
}
#legend ul {
    list-style: none;
    text-align: left;
}
.ui-w-fix.ui-btn { 
    width: 50px;
}
.cell-highlight {
    background: #fce9e9 !important;
    color: #FF0000;
}

#map_canvas iframe,#map_canvas object, #map_canvas embed {
    width: 100%;
}
.cell-color-gray {
    background: rgba(0,0,0,.08) !important;
}
.ui-cell-bold {
    font-weight: bold;
}
.ui-pv {
    table-layout: fixed;
}
.quake-time ,
.thunder-time {
    padding: 10px 0 1em 0;
    text-align: center;
    background: #ff486a;
    background: -moz-linear-gradient(left,  #ff486a 0%, #ef2434 50%, #df0000 100%); 
    background: -webkit-linear-gradient(left,  #ff486a 0%, #ef2434 50%,#df0000 100%);
    background: linear-gradient(to right,  #ff486a 0%, #ef2434 50%,#df0000 100%);
    color: #ffffff;
    margin: -1em  -1em 1em  -1em;
}
p.ui-text {
    font-size: 20px;
    margin: 10px 0 0 0;
    font-weight: bold;
    text-shadow:none;
}

.quake-data-wrap,
.thunder-data-wrap{
    padding: 20px 0;
    border-top:1px #d7d7d7 solid;
}

.quake-data-wrap:first-child ,
.thunder-data-wrap:first-child {
    border:none;
}



#extend-info{
    margin: 0 0 4em 0;
    background: #efefef;
    padding: 30px;
    overflow: visible !important;
}

#extend-info .slidesjs-navigation {
  margin-top:3px;
}

#extend-info .slidesjs-previous {
    display: none;
}

#extend-info .slidesjs-next {
    display: none;
}

.slidesjs-pagination {
    margin: 6px auto;
    margin-top: -30px;
    list-style: none;
    text-align: center;
    position: relative;
    top: 4em;
    z-index: 10;
}

.slidesjs-pagination li {
  margin: 0 1px;
    display: inline-block;
}

.slidesjs-pagination li a {
    display: block;
    width: 16px;
    height: 0;
    padding-top: 16px;
    margin-right: 10px;
    float: left;
    overflow: hidden;
    background: #ffffff;
    border: 1px #959595 solid;
    -moz-border-radius:16px; 
    -webkit-border-radius:16px;
    linear-border-radius:16px;
    
}

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
    background: #ef2435;
    border: 1px #ef2435 solid;
}

.slidesjs-pagination li a:hover {
    background: #ef2435;
}

#extend-info a:link,
#extend-info a:visited {
  color: #333
}

#extend-info a:hover,
#extend-info a:active {
  color: #9e2020
}
.extend-info-wrap span {
    font-size: 12px;
    color: #666666; 
}
.extend-info-wrap p {
    margin-bottom: 0;
}