<div ng-controller="AlertSettingCtrl" ng-cloak="" class="navBardemoBasicUsage">

  <!--ヘッダー読み込み-->
  <navitop></navitop>

  <!--エラーメッセージ-->
  <div ng-show="error" class="alert alert-danger">{{error}}</div>
  <div ng-show="success" class="alert alert-success">{{success}}</div>

  <div class="md-toolbar-tools">
    <h3 class="ng-binding ng-isolate-scope">
      <a class="docs-anchor ng-scope" ng-href="#basic-usage" name="basic-usage" href="#basic-usage">通知闘値</a>
    </h3>
  </div>

  <md-card>
        <!--switch-->
        <label class="nito-switch-label"><span>震度</span><md-switch ng-model="switchSI" ng-class="{'nito-default':switchSI==true}" ng-change="switchIntensity(switchSI)" style="float:left;"></md-switch><span class="nito-switch-label">SI値</span></label>
    <md-card-content ng-hide="switchSI">
      <md-card-title-text>

        <md-switch ng-model="switch.seismicIntensity" class="md-warn">
          <div ng-if="!!switch.seismicIntensity">通知する</div>
          <div ng-if="!switch.seismicIntensity">通知しない</div>
        </md-switch>
        <!--震度スライダー-->
        <md-slider-container ng-if="!!switch.seismicIntensity">
          <md-slider flex="" min="3" max="7" ng-model="slider.seismicIntensity" aria-label="red">
          </md-slider>
          <md-input-container>
            <input flex="" ng-model="slider.seismicIntensity" aria-label="red" aria-controls="red-slider" type="number">
          </md-input-container>
        </md-slider-container>


      </md-card-content>
      <md-card-content ng-hide="!switchSI">

        <!--switch-->
        <md-switch ng-model="switch.si" class="md-warn">
          <div ng-if="!!switch.si">通知する</div>
          <div ng-if="!switch.si">通知しない</div>
        </md-switch>
        <!--SI値スライダー-->
        <md-slider-container ng-if="!!switch.si">
          <md-slider flex="" min="1" max="140" step="0.1" ng-model="slider.si" aria-label="red">
          </md-slider>
          <md-input-container>
            <input flex="" ng-model="slider.si" aria-label="red" aria-controls="red-slider" type="number">
          </md-input-container>
        </md-slider-container>



      </md-card-title-text>
    </md-card-content>
    <md-card-content>
      <md-card-title-text>
        <!--switch-->
        <label>長周期地震動:</label>
        <md-switch ng-model="switch.longPeriodGroundMotion" class="md-warn">
          <div ng-if="!!switch.longPeriodGroundMotion">通知する</div>
          <div ng-if="!switch.longPeriodGroundMotion">通知しない</div>
        </md-switch>
        <!--長周期地震動スライダ-->
        <md-slider-container ng-if="!!switch.longPeriodGroundMotion">
          <md-slider flex="" min="1" max="4" ng-model="slider.longPeriodGroundMotion" aria-label="red">
          </md-slider>
          <md-input-container>
            <input flex="" ng-model="slider.longPeriodGroundMotion" aria-label="red" aria-controls="red-slider" type="number">
          </md-input-container>
        </md-slider-container>

      </md-card-title-text>
    </md-card-content>
    <md-card-content>
      <md-card-title-text>
        <!--switch-->
        <label>傾き:</label>
        <md-switch ng-model="switch.slope" class="md-warn">
          <div ng-if="!!switch.slope">通知する</div>
          <div ng-if="!switch.slope">通知しない</div>
        </md-switch>
      </md-card-title-text>
    </md-card-content>
    <md-card-content>
      <md-card-title-text>
        <!--switch-->
        <label>雷サージ:</label>
        <md-switch ng-model="switch.lightningSurge" class="md-warn">
          <div ng-if="!!switch.lightningSurge">通知する</div>
          <div ng-if="!switch.lightningSurge">通知しない</div>
        </md-switch>
      </md-card-title-text>
    </md-card-content>
    <md-card-content>
      <md-card-title-text>
        <!--switch-->
        <label>商用停電:</label>
        <md-switch ng-model="switch.commercialBlackout" class="md-warn">
          <div ng-if="!!switch.commercialBlackout">通知する</div>
          <div ng-if="!switch.commercialBlackout">通知しない</div>
        </md-switch>
      </md-card-title-text>
    </md-card-content>
    <md-card-content>
      <md-card-title-text>

        <!--switch-->
        <label>機器異常:</label>
        <md-switch ng-model="switch.equipmentAbnormality" class="md-warn">
          <div ng-if="!!switch.equipmentAbnormality">通知する</div>
          <div ng-if="!switch.equipmentAbnormality">通知しない</div>
        </md-switch>

      </md-card-title-text>
    </md-card-content>

  <div layout>
    <md-button flex class="md-accent md-button md-ink-ripple md-text-button-1" type="button" ng-click="cancel()" ng-transclude="">
      <div class="md-ripple-container md-ripple-container-1">キャンセル</div>
    </md-button>
    <md-button flex class="md-accent md-button md-ink-ripple md-text-button-2" type="button" ng-click="regist($event,true)" ng-transclude="">
      <div class="md-ripple-container md-ripple-container-2">登録</div>
    </md-button>
  </div>


  </md-card>

</div>

<footer class="footer">
</footer>
