<div ng-controller="AlertSettingCtrl" ng-cloak="" class="navBardemoBasicUsage">

  <!--ヘッダー読み込み-->
  <navitop></navitop>

  <div class="md-toolbar-tools">
    <h3 class="ng-binding ng-isolate-scope">
      <a class="docs-anchor ng-scope" ng-href="#basic-usage" name="basic-usage" href="#basic-usage">通知闘値</a>
    </h3>
  </div>

  <md-card>
    <md-card-content>
      <md-card-title-text>

        <!--switch-->
        <label>震度:</label>
        <md-switch ng-model="switch.seismicIntensity" class="md-warn">
          <div ng-if="!!switch.seismicIntensity">通知する</div>
          <div ng-if="!switch.seismicIntensity">通知しない</div>
        </md-switch>
        <!--震度スライダー-->
        <md-slider-container ng-if="!!switch.seismicIntensity">
          <md-slider flex="" min="3" max="7" ng-model="slider.seismicIntensity" aria-label="red">
          </md-slider>
          <md-input-container>
            <input flex="" ng-model="slider.seismicIntensity" aria-label="red" aria-controls="red-slider" type="number">
          </md-input-container>
        </md-slider-container>


      </md-card-content>
      <md-card-content>

        <!--switch-->
        <label>SI値:</label>
        <md-switch ng-model="switch.si" class="md-warn">
          <div ng-if="!!switch.si">通知する</div>
          <div ng-if="!switch.si">通知しない</div>
        </md-switch>
        <!--SI値スライダー-->
        <md-slider-container ng-if="!!switch.si">
          <md-slider flex="" min="1" max="140" step="0.1" ng-model="slider.si" aria-label="red">
          </md-slider>
          <md-input-container>
            <input flex="" ng-model="slider.si" aria-label="red" aria-controls="red-slider" type="number">
          </md-input-container>
        </md-slider-container>



      </md-card-title-text>
    </md-card-content>
    <md-card-content>
      <md-card-title-text>
        <!--switch-->
        <label>長周期地震動:</label>
        <md-switch ng-model="switch.longPeriodGroundMotion" class="md-warn">
          <div ng-if="!!switch.longPeriodGroundMotion">通知する</div>
          <div ng-if="!switch.longPeriodGroundMotion">通知しない</div>
        </md-switch>
        <!--長周期地震動スライダ-->
        <md-slider-container ng-if="!!switch.longPeriodGroundMotion">
          <md-slider flex="" min="1" max="4" ng-model="slider.longPeriodGroundMotion" aria-label="red">
          </md-slider>
          <md-input-container>
            <input flex="" ng-model="slider.longPeriodGroundMotion" aria-label="red" aria-controls="red-slider" type="number">
          </md-input-container>
        </md-slider-container>

      </md-card-title-text>
    </md-card-content>
    <md-card-content>
      <md-card-title-text>
        <!--switch-->
        <label>傾き:</label>
        <md-switch ng-model="switch.slope" class="md-warn">
          <div ng-if="!!switch.slope">通知する</div>
          <div ng-if="!switch.slope">通知しない</div>
        </md-switch>
      </md-card-title-text>
    </md-card-content>
    <md-card-content>
      <md-card-title-text>
        <!--switch-->
        <label>雷サージ:</label>
        <md-switch ng-model="switch.lightningSurge" class="md-warn">
          <div ng-if="!!switch.lightningSurge">通知する</div>
          <div ng-if="!switch.lightningSurge">通知しない</div>
        </md-switch>
      </md-card-title-text>
    </md-card-content>
    <md-card-content>
      <md-card-title-text>
        <!--switch-->
        <label>商用停電:</label>
        <md-switch ng-model="switch.commercialBlackout" class="md-warn">
          <div ng-if="!!switch.commercialBlackout">通知する</div>
          <div ng-if="!switch.commercialBlackout">通知しない</div>
        </md-switch>
      </md-card-title-text>
    </md-card-content>
    <md-card-content>
      <md-card-title-text>

        <!--switch-->
        <label>機器異常:</label>
        <md-switch ng-model="switch.deviceAbnormality" class="md-warn">
          <div ng-if="!!switch.deviceAbnormality">通知する</div>
          <div ng-if="!switch.deviceAbnormality">通知しない</div>
        </md-switch>

      </md-card-title-text>
    </md-card-content>
    <!--キャンセル-->
  <md-button class="md-accent md-button md-ink-ripple" ng-click="cancel()" type="button" ng-transclude="">
    <div class="md-ripple-container">キャンセル</div>
  </md-button>
  <!--登録ボタン-->
  <md-button class="md-accent md-button md-ink-ripple" ng-click="regist()" type="button" ng-transclude="">
    <div class="md-ripple-container">登録</div>
  </md-button>
  </md-card>

</div>

<footer class="footer">
</footer>
