<div ng-controller="DeviceInfoEditCtrl" ng-cloak="" class="navBardemoBasicUsage" id="popupContainer">

  <!--ヘッダー読み込み-->
  <navitop></navitop>

  <!--エラーメッセージ-->
  <div ng-show="error" class="alert alert-danger">{{error}}</div>
  <div ng-show="success" class="alert alert-success">{{success}}</div>

  <div class="md-toolbar-tools">
    <h3 class="ng-binding ng-isolate-scope">
      <a class="docs-anchor ng-scope" ng-href="#basic-usage" name="basic-usage" href="#basic-usage">基本情報</a>
    </h3>
  </div>

  <md-card>
    <md-card-content>
      <div layout="row" layout-align="start end">
        <div flex="90" layout="column" >
            <span flex class="md-body-1">デバイスID</span>
            <span flex class="md-body-3">{{deviceGroupData.deviceId}}</span>
        </div>
      </div>
    </md-card-content>

      <md-card-content>
      <div layout="row" layout-align="start end">
        <div flex="90" layout="column" >
            <span flex class="md-body-1">デバイス名</span>
            <span flex class="md-body-3">{{deviceGroupData.deviceName}}</span>
        </div>
          <md-button class="md-icon-button" aria-label="More" ng-click="deviceNameEdit($event)">
          <md-icon><buttonpen></buttonpen></md-icon>
          </md-button>
      </div>
    </md-card-content>

      <md-card-content>
      <div layout="row" layout-align="start end">
        <div flex="90" layout="column" >
            <span flex class="md-body-1">住所</span>
            <span flex class="md-body-3">{{deviceGroupData.address}}</span>
        </div>
          <md-button class="md-icon-button" aria-label="More" ng-click="addressEdit($event)">
          <md-icon><buttonpen></buttonpen></md-icon>
          </md-button>
      </div>
    </md-card-content>

      <md-card-content>
      <div layout="row" layout-align="start end">
        <div flex="90" layout="column" >
            <span flex class="md-body-1">緯度・経度</span>
            <span flex class="md-body-3">緯度 {{deviceGroupData.latitude}}</span>
            <span flex class="md-body-3">経度 {{deviceGroupData.longitude}}</span>
        </div>
          <md-button class="md-icon-button" aria-label="More" ng-click="latlonEdit($event)">
          <md-icon><buttonpen></buttonpen></md-icon>
          </md-button>
      </div>
    </md-card-content>

      <md-card-content>
      <div layout="row" layout-align="start end">
        <div flex="90" layout="column" >
            <span flex class="md-body-1">メモ</span>
            <span flex class="md-body-3">{{deviceGroupData.memo}}</span>
        </div>
          <md-button class="md-icon-button" aria-label="More" ng-click="memoEdit($event)">
          <md-icon><buttonpen></buttonpen></md-icon>
          </md-button>
      </div>
    </md-card-content>

      <md-card-content>
      <div layout="row" layout-align="start end">
        <div flex="90" layout="column" >
            <span flex class="md-body-1">責任者</span>
            <span flex class="md-body-3">{{deviceGroupData.responsiblePerson}}</span>
        </div>
          <md-button class="md-icon-button" aria-label="More" ng-click="responsiblePersonEdit($event)">
          <md-icon><buttonpen></buttonpen></md-icon>
          </md-button>
      </div>
        </md-card-content>

        <md-card-content>
      <div layout="row" layout-align="start end">
        <div flex="90" layout="column" >
            <span flex class="md-body-1">連絡先</span>
            <span flex class="md-body-3">{{deviceGroupData.telNo}}</span>
        </div>
          <md-button class="md-icon-button" aria-label="More" ng-click="telNoEdit($event)">
          <md-icon><buttonpen></buttonpen></md-icon>
          </md-button>
      </div>
      </md-card-content>
  </md-card>

  <div class="md-toolbar-tools">
    <h3 class="ng-binding ng-isolate-scope">
      <a class="docs-anchor ng-scope" ng-href="#basic-usage" name="basic-usage" href="#basic-usage">アラート通知</a>
    </h3>
  </div>

            <md-card>
                    <md-list-item class="md-secondary" ng-repeat="item in sendto" ng-click="false">

                      <p class="md-body-4">{{item.name}}</p>
                      <p class="md-body-1 mailId">{{item.mailid}}</p>

                      <md-menu ng-if="!admin_mflg">
                       <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)"  aria-label="More">
                          <i class="material-icons">more_vert</i>
                        </md-button>

                       <md-menu-content>
                         <md-menu-item>
                           <md-button ng-click="mailAddressEdit($event,false)" aria-label="Do something">編集</md-button>
                         </md-menu-item>
                         <md-menu-item>
                           <md-button ng-click="mailAddressDelete()" aria-label="Do something">削除</md-button>
                         </md-menu-item>
                       </md-menu-content>

                     </md-menu>
                    </md-list-item>

                    <!--ボタン-->
                <div layout ng-if="!admin_mflg">
                  <md-button flex class="md-accent md-button md-ink-ripple md-text-button-1" type="button" ng-click="alertSetting()" ng-transclude="">
                    <div class="md-ripple-container md-ripple-container-1">通知設定</div>
                  </md-button>
                  <md-button flex class="md-accent md-button md-ink-ripple md-text-button-2" type="button" ng-click="mailAddressAdd($event,true)" ng-transclude="">
                    <div class="md-ripple-container md-ripple-container-2">追加</div>
                  </md-button>
                </div>
                  </md-card>

<footer class="footer">
</footer>

<script type="text/ng-template" id="dialog1.tmpl.html">

  <form name="dialog">
  <md-dialog class="latlonEdit">
    <md-dialog-content class="md-dialog-content" role="document" tabindex="-1" id="dialogContent_2">
      <h2 class="md-title ng-binding">緯度・経度</h2>
      <div class="md-dialog-content-body ng-scope">
       <p class="ng-binding"></p>
     </div>
   <!--MAP-->
   <div class="map mapEdit">
     <ui-gmap-google-map center="map.center" zoom="map.zoom" events="map.events" draggable="true">
       <ui-gmap-markers models="markers" coords="'self'" icon="'icon'"></ui-gmap-markers>
     </ui-gmap-google-map>
   </div>
   <div class="md-body-1">緯度 {{latitude}}</div>
   <div class="md-body-1">経度 {{longitude}}</div>
   </md-dialog-content>
   <md-dialog-actions>
   <button class="md-primary md-cancel-button md-button ng-scope md-default-theme md-ink-ripple" type="button" ng-click="closeDialog()" style="">キャンセル</button>
   <button class="md-primary md-confirm-button md-button md-ink-ripple md-default-theme" type="button" ng-click="regist()">登録</button>
   </md-dialog-actions>
   </md-dialog>
   </form>

</script>
