<div ng-controller="DeviceInfoEditCtrl" ng-cloak="" class="navBardemoBasicUsage" id="popupContainer">

  <!--ヘッダー読み込み-->
  <navitop></navitop>

  <div class="md-toolbar-tools">
    <h3 class="ng-binding ng-isolate-scope">
      <a class="docs-anchor ng-scope" ng-href="#basic-usage" name="basic-usage" href="#basic-usage">基本情報</a>
    </h3>
  </div>

  <md-card>
    <md-card-title>
      <md-card-title-text>
        <p class="md-body-1">デバイスID</p>
        <span class="md-subhead">{{deviceGroupData[0].groupId}}</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <md-card-title-text>
        <p class="md-body-1">デバイス名</p>
        <span class="md-subhead">{{deviceGroupData[0].groupName}}</span>
        <md-button ng-click="deviceNameEdit()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="#000000" height="24" viewBox="0 0 24 24" width="24">
              <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
              <path d="M0 0h24v24H0z" fill="none"/>
          </svg>
        </md-button>
      </md-card-title-text>
      <md-card-title-text>
        <p class="md-body-1">住所</p>
        <span class="md-subhead">{{deviceGroupData[0].address}}</span>
        <md-button ng-click="addressEdit()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="#000000" height="24" viewBox="0 0 24 24" width="24">
              <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
              <path d="M0 0h24v24H0z" fill="none"/>
          </svg>
        </md-button>
      </md-card-title-text>
      <md-card-title-text>
        <p class="md-body-1">緯度・経度</p>
        <span class="md-subhead">{{deviceGroupData[0].groupName}}</span>
        <md-button ng-click="latlonEdit()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="#000000" height="24" viewBox="0 0 24 24" width="24">
              <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
              <path d="M0 0h24v24H0z" fill="none"/>
          </svg>
        </md-button>
      </md-card-title-text>
      <md-card-title-text>
        <p class="md-body-1">メモ</p>
        <span class="md-subhead">{{deviceGroupData[0].groupName}}</span>
        <md-button ng-click="memoEdit()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="#000000" height="24" viewBox="0 0 24 24" width="24">
              <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
              <path d="M0 0h24v24H0z" fill="none"/>
          </svg>
        </md-button>
      </md-card-title-text>
      <md-card-title-text>
        <p class="md-body-1">責任者</p>
        <span class="md-subhead">{{deviceGroupData[0].groupName}}</span>
        <md-button ng-click="responsiblePersonEdit()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="#000000" height="24" viewBox="0 0 24 24" width="24">
              <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
              <path d="M0 0h24v24H0z" fill="none"/>
          </svg>
        </md-button>
      </md-card-title-text>
      <md-card-title-text>
        <p class="md-body-1">連絡先</p>
        <span class="md-subhead">{{deviceGroupData[0].groupName}}</span>
        <md-button ng-click="telNoEdit()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="#000000" height="24" viewBox="0 0 24 24" width="24">
              <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
              <path d="M0 0h24v24H0z" fill="none"/>
          </svg>
        </md-button>
      </md-card-title-text>
    </md-card-content>
  </md-card>

  <div class="md-toolbar-tools">
    <h3 class="ng-binding ng-isolate-scope">
      <a class="docs-anchor ng-scope" ng-href="#basic-usage" name="basic-usage" href="#basic-usage">アラート通知</a>
    </h3>
  </div>

          <md-content class="md-padding">
            <md-card>
                  <md-card-content>
                    <ul>
                      <li ng-repeat="item in deviceGroupData[0].alertNotificationList">
                        <p class="md-body-1">{{item.name}}</p>
                        <p class="md-body-1">{{item.mailAddress}}</p>
                        <!--TODO ボタン画像変更-->
                        <md-button ng-click="mailAddressEdit()">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="#000000" height="24" viewBox="0 0 24 24" width="24">
                              <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
                              <path d="M0 0h24v24H0z" fill="none"/>
                          </svg>
                        </md-button>
                        <md-button ng-click="mailAddressDelete()">
                          <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                               <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/>
                               <path d="M0 0h24v24H0z" fill="none"/>
                          </svg>
                        </md-button>
                      </li>
                    </ul>
                  </md-card-content>
                    <!--通知設定ボタン-->
                  <md-button class="md-accent md-button md-ink-ripple" ng-click="alertSetting()" type="button" ng-transclude="">
                    <div class="md-ripple-container">通知設定</div>
                  </md-button>
                  <!--追加ボタン-->
                  <md-button class="md-accent md-button md-ink-ripple" ng-click="mailAddressAdd()" type="button" ng-transclude="">
                    <div class="md-ripple-container">追加</div>
                  </md-button>
              </md-card>
          </md-content>
</div>

<footer class="footer">
</footer>
