<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
</header>




<div ng-controller="DeviceDetailCtrl" ng-cloak="" class="navBardemoBasicUsage">



    <md-content class="md-padding">





<!--基本情報-->
        <div class="md-toolbar-tools">
          <h3 class="ng-binding ng-isolate-scope">
            <a class="docs-anchor ng-scope" ng-href="#basic-usage" name="basic-usage" href="#basic-usage">基本情報</a>
          </h3>
        </div>

          <md-card>
            <md-card-title>
              <md-card-title-text>
                <span class="md-subhead">{{deviceDetailList.deviceName}}</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
                  <p class="md-body-1">職場責任者：{{deviceDetailList.responsiblePerson}}</p>
                  <p class="md-body-1">連絡先：{{deviceDetailList.telNo}}</p>
                  <p class="md-body-1">住所：{{deviceDetailList.address}}</p>
                  <p class="md-body-1">メモ：{{deviceDetailList.memo}}</p>
            </md-card-content>
          </md-card>


<!--地震-->
<div class="md-toolbar-tools">
  <h3 class="ng-binding ng-isolate-scope">
    <a class="docs-anchor ng-scope" ng-href="#basic-usage" name="basic-usage" href="#basic-usage">地震</a>
  </h3>
</div>

<md-card>
  <!--現在のステータス-->
  <md-card-content>
  </md-card-content>
  <!--地震履歴-->
  <p class="md-body-1">地震履歴</p>
  <md-card-content>
    <ul>
      <li ng-repeat="item in earthquakeHistoryList[0].data">
        <p class="md-body-1">{{item.date}}</p>
        <p class="md-body-1">{{item.datas[0].value}}</p>
      </li>
    </ul>
  </md-card-content>
</md-card>



<!--雷-->
<div class="md-toolbar-tools">
  <h3 class="ng-binding ng-isolate-scope">
    <a class="docs-anchor ng-scope" ng-href="#basic-usage" name="basic-usage" href="#basic-usage">雷</a>
  </h3>
</div>

  <md-card>
    <!--現在のステータス-->
    <md-card-content>
    </md-card-content>
    <!--地震履歴-->
    <p class="md-body-1">雷履歴</p>
    <md-card-content>
      <ul>
        <li ng-repeat="item in thunderHistoryList[0].data">
          <p class="md-body-1">{{item.date}}</p>
          <p class="md-body-1">{{item.datas[0].value}}</p>
        </li>
      </ul>
    </md-card-content>
  </md-card>
















<ul>
  <li ng-repeat="item in deviceList">



<!--デバイスカード-->
  <md-card>
  <!--デバイスカード　タイトル（デバイス名）-->
  <md-card-title>
    <!--タイトル（デバイス名）-->
    <md-card-title-text>
      <span class="md-subhead">{{item.deviceName}}devicedetail</span>
    </md-card-title-text>
    <!--リンク-->
    <md-button ng-click="deviceDetail()">
        <svg width="24px" height="24px" viewBox="315 15 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <!-- Generator: Sketch 42 (36781) - http://www.bohemiancoding.com/sketch -->
          <!-- <desc>Created with Sketch.</desc> -->
          <defs></defs>
          <g id="Material/Icons-black/chevron-right" stroke="none" fill="none" transform="translate(315.000000, 15.000000)" fill-rule="evenodd">
              <polygon id="Shape" fill="#D8001A" points="8.59997559 7.4 9.99997559 6 15.9999756 12 9.99997559 18 8.59997559 16.6 13.1999756 12"></polygon>
          </g>
        </svg>
    </md-button>
  </md-card-title>

 <!--デバイスカード　コンテンツ-->
  <md-card-content>
    <!--職場責任者・連絡先-->
    <div layout="row" layout-wrap>
  　　 <div flex="50">
        <p class="md-body-1">職場責任者：{{item.responsiblePerson}}</p>
      </div>
      <div flex>
        <p class="md-body-1">連絡先：{{item.telNo}}</p>
      </div>
    </div>
    <!--ステータス-->
    <div layout="row" layout-wrap>
        <p class="md-body-2">{{item.status}}</p>
    </div>
    <!--ステータスが異常ありの場合-->
    <div ng-if="item.statusFlg == 1">

    <!-- <div layout="row" layout-wrap> -->
      <!--地震の場合-->
      <div layout="row" layout-wrap ng-if="item.type == 'earthquake'">
        <div flex="25">
          <div flex class="md-body-1">傾き</div>
          <div flex class="md-body-1">商用停電</div>
          <div flex class="md-body-1">機器異常</div>
        </div>
        <div flex="25">
          <div flex class="md-body-1">{{item.slope}}</div>
          <div flex class="md-body-1">{{item.commercialBlackout}}</div>
          <div flex class="md-body-1">{{item.equipmentAbnormality}}</div>
        </div>
        <div flex class="md-body-1">震度</div>
        <div flex class="md-display-3">{{item.seismicIntensity}}</div>
      </div>
      <!--雷の場合-->
      <div layout="row" layout-wrap ng-if="item.type == 'thunder'">
        <div flex="25">
          <div flex class="md-body-1">漏電</div>
          <div flex class="md-body-1">商用停電</div>
          <div flex class="md-body-1">機器異常</div>
        </div>
        <div flex="25">
          <div flex class="md-body-1">{{item.leakage}}</div>
          <div flex class="md-body-1">{{item.commercialBlackout}}</div>
          <div flex class="md-body-1">{{item.equipmentAbnormality}}</div>
        </div>
        <div flex class="md-body-1">雷</div>
        <div flex class="md-display-3">{{item.power}}</div>
      </div>

    <!-- </div> -->
    <div layout="row" layout-wrap>
      　<p class="md-body-1">コメント・連絡事項</p>
        <p class="md-body-2">{{item.comment}}</p>
        <p class="md-body-2">{{item.updateTime}}</p>
    </div>

    </div>


  </md-card-content>
</md-card>

<!--デバイスカード終わり-->
</li>
</ul>


    </md-content>
  </div>
</div>






<footer class="footer">
</footer>
