<div ng-controller="DeviceDetailDataCtrl" ng-cloak="" class="navBardemoBasicUsage">

  <!--ヘッダー読み込み-->
  <navitop></navitop>

<!--地震または雷-->
<div class="md-toolbar-tools">
  <h3 class="ng-binding ng-isolate-scope">
    <div ng-if="detailData.type == 'EQ'">
    <a class="docs-anchor ng-scope" ng-href="#basic-usage"name="basic-usage" href="#basic-usage">地震</a>
    </div>
    <div ng-if="detailData.type == 'thunder'">
    <a class="docs-anchor ng-scope" ng-href="#basic-usage"name="basic-usage" href="#basic-usage">雷</a>
    </div>
  </h3>
</div>

<!--デバイスカード-->
  <md-card>
  <!--デバイスカード　タイトル（デバイス名）-->
  <md-card-content>
    <!--タイトル（デバイス名）-->
    <md-card-title-text>
      <span class="md-body-5">感知あり</span>
    </md-card-title-text>
  </md-card-content>

 <!--デバイスカード　コンテンツ-->
    <md-card-content>
      <!--地震の場合-->
      <div layout="row" ng-if="detailData.type == 'EQ'">
        <div flex="25">
          <p flex class="md-body-1">傾き</p>
          <p flex class="md-body-1">商用停電</p>
          <p flex class="md-body-1">機器異常</p>
        </div>
        <div flex="40">
          <p flex class="md-body-3">{{detailData.slope}}</p>
          <p flex class="md-body-3">{{detailData.commercialBlackout}}</p>
          <p flex class="md-body-3">{{detailData.equipmentAbnormality}}</p>
        </div>
        <div>
        <div flex class="md-body-1">震度</div>
        <div flex class="md-body-6">{{detailData.seismicIntensity}}</div>
      </div>
      </div>
      <!--雷の場合-->
      <div layout="row" layout-wrap ng-if="item.type == 'thunder'">
        <div flex="25">
          <p flex class="md-body-1">漏電</p>
          <p flex class="md-body-1">商用停電</p>
          <p flex class="md-body-1">機器異常</p>
        </div>
        <div flex="40">
          <p flex class="md-body-3">{{detailData.leakage}}</p>
          <p flex class="md-body-3">{{detailData.commercialBlackout}}</p>
          <p flex class="md-body-3">{{detailData.equipmentAbnormality}}</p>
        </div>
        <div>
        <div flex class="md-body-1">雷</div>
        <div flex class="md-display-3">{{detailData.power}}</div>
      </div>
      </div>
  　</md-card-content>
    <md-card-content>
        <p class="md-body-1">コメント・連絡事項</p>
        <div layout="row" layout-wrap ng-hide="detailData.commentList == undefined">
          <ul>
            <li ng-repeat="item in detailData.commentList">
              <p class="md-body-2"　ng-if="item.importantFlg">{{item.comment}}　{{item.commentDate}}</p>
              <p class="md-body-2 importantFlg"　ng-if="!item.importantFlg">{{item.comment}}　{{item.commentDate}}</p>
          </li>
        </ul>
        </div>
      <md-button class="md-accent md-button md-ink-ripple" type="button" ng-click="addComment()" ng-transclude="">
        <div class="md-ripple-container">コメント追加</div>
      </md-button>
    </md-card-content>
    <md-card-content ng-hide="detailData.mediaNewsletter == undefined">
          <div class="md-body-1">メディア速報</div>
          <div class="md-body-2">気象庁公報：震度{{detailData.mediaNewsletter.japanMeteorologicalAgency}}</div>
          <div class="md-body-2">長周期地震動階級：{{detailData.mediaNewsletter.longPeriodSeismicActivityClass}}</div>
  </md-card-content>
</md-card>


<!--グラフ-->
        <div class="md-toolbar-tools">
          <h3 class="ng-binding ng-isolate-scope">
            <a class="docs-anchor ng-scope" ng-href="#basic-usage" name="basic-usage" href="#basic-usage">グラフ</a>
          </h3>
        </div>

          <md-card>
            <md-card-title>
              <span class="md-body-3">合成加速度</span>
            </md-card-title>
            <img ng-src={{chart_acceleration}}></img>
          </md-card>


          <!--マップ-->
                  <div class="md-toolbar-tools">
                    <h3 class="ng-binding ng-isolate-scope">
                      <a class="docs-anchor ng-scope" ng-href="#basic-usage" name="basic-usage" href="#basic-usage">マップ</a>
                    </h3>
                  </div>

                  <md-card>
                    <md-content class="md-padding">
                      <div id="map-detailData"></div>
                    </md-content>
                  </md-card>

</div>

<footer class="footer">
</footer>
