<div ng-controller="DeviceInfoEditCtrl" ng-cloak="" class="navBardemoBasicUsage" id="popupContainer">

  <!--ヘッダー読み込み-->
  <navitop></navitop>

  <div class="md-toolbar-tools">
    <h3 class="ng-binding ng-isolate-scope">
      <a class="docs-anchor ng-scope" ng-href="#basic-usage" name="basic-usage" href="#basic-usage">基本情報</a>
    </h3>
  </div>

  <md-card>
    <md-card-title>
      <md-card-title-text>
        <p class="md-body-1">デバイスID</p>
        <span class="md-subhead">{{deviceGroupData[0].groupId}}</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <md-card-title-text>
        <p class="md-body-1">デバイス名</p>
        <span class="md-subhead">{{deviceGroupData[0].groupName}}</span>
        <!--TODO ボタン画像変更-->
        <md-button ng-click="deviceNameEdit()">
            <svg width="24px" height="24px" viewBox="315 15 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <defs></defs>
              <g id="Material/Icons-black/chevron-right" stroke="none" fill="none" transform="translate(315.000000, 15.000000)" fill-rule="evenodd">
                  <polygon id="Shape" fill="#D8001A" points="8.59997559 7.4 9.99997559 6 15.9999756 12 9.99997559 18 8.59997559 16.6 13.1999756 12"></polygon>
              </g>
            </svg>
        </md-button>
      </md-card-title-text>
      <md-card-title-text>
        <p class="md-body-1">住所</p>
        <span class="md-subhead">{{deviceGroupData[0].address}}</span>
        <!--TODO ボタン画像変更-->
        <md-button ng-click="addressEdit()">
            <svg width="24px" height="24px" viewBox="315 15 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <defs></defs>
              <g id="Material/Icons-black/chevron-right" stroke="none" fill="none" transform="translate(315.000000, 15.000000)" fill-rule="evenodd">
                  <polygon id="Shape" fill="#D8001A" points="8.59997559 7.4 9.99997559 6 15.9999756 12 9.99997559 18 8.59997559 16.6 13.1999756 12"></polygon>
              </g>
            </svg>
        </md-button>
      </md-card-title-text>
      <md-card-title-text>
        <p class="md-body-1">緯度・経度</p>
        <span class="md-subhead">{{deviceGroupData[0].groupName}}</span>
        <!--TODO ボタン画像変更-->
        <md-button ng-click="latlonEdit()">
            <svg width="24px" height="24px" viewBox="315 15 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <defs></defs>
              <g id="Material/Icons-black/chevron-right" stroke="none" fill="none" transform="translate(315.000000, 15.000000)" fill-rule="evenodd">
                  <polygon id="Shape" fill="#D8001A" points="8.59997559 7.4 9.99997559 6 15.9999756 12 9.99997559 18 8.59997559 16.6 13.1999756 12"></polygon>
              </g>
            </svg>
        </md-button>
      </md-card-title-text>
      <md-card-title-text>
        <p class="md-body-1">メモ</p>
        <span class="md-subhead">{{deviceGroupData[0].groupName}}</span>
        <!--TODO ボタン画像変更-->
        <md-button ng-click="memoEdit()">
            <svg width="24px" height="24px" viewBox="315 15 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <defs></defs>
              <g id="Material/Icons-black/chevron-right" stroke="none" fill="none" transform="translate(315.000000, 15.000000)" fill-rule="evenodd">
                  <polygon id="Shape" fill="#D8001A" points="8.59997559 7.4 9.99997559 6 15.9999756 12 9.99997559 18 8.59997559 16.6 13.1999756 12"></polygon>
              </g>
            </svg>
        </md-button>
      </md-card-title-text>
      <md-card-title-text>
        <p class="md-body-1">責任者</p>
        <span class="md-subhead">{{deviceGroupData[0].groupName}}</span>
        <!--TODO ボタン画像変更-->
        <md-button ng-click="responsiblePersonEdit()">
            <svg width="24px" height="24px" viewBox="315 15 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <defs></defs>
              <g id="Material/Icons-black/chevron-right" stroke="none" fill="none" transform="translate(315.000000, 15.000000)" fill-rule="evenodd">
                  <polygon id="Shape" fill="#D8001A" points="8.59997559 7.4 9.99997559 6 15.9999756 12 9.99997559 18 8.59997559 16.6 13.1999756 12"></polygon>
              </g>
            </svg>
        </md-button>
      </md-card-title-text>
      <md-card-title-text>
        <p class="md-body-1">連絡先</p>
        <span class="md-subhead">{{deviceGroupData[0].groupName}}</span>
        <!--TODO ボタン画像変更-->
        <md-button ng-click="telNoEdit()">
            <svg width="24px" height="24px" viewBox="315 15 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <defs></defs>
              <g id="Material/Icons-black/chevron-right" stroke="none" fill="none" transform="translate(315.000000, 15.000000)" fill-rule="evenodd">
                  <polygon id="Shape" fill="#D8001A" points="8.59997559 7.4 9.99997559 6 15.9999756 12 9.99997559 18 8.59997559 16.6 13.1999756 12"></polygon>
              </g>
            </svg>
        </md-button>
      </md-card-title-text>
    </md-card-content>
  </md-card>

  <div class="md-toolbar-tools">
    <h3 class="ng-binding ng-isolate-scope">
      <a class="docs-anchor ng-scope" ng-href="#basic-usage" name="basic-usage" href="#basic-usage">アラート通知</a>
    </h3>
  </div>

          <md-content class="md-padding">
            <md-card>
                  <md-card-content>
                    <ul>
                      <li ng-repeat="item in deviceGroupData[0].alertNotificationList">
                        <p class="md-body-1">{{item.name}}</p>
                        <p class="md-body-1">{{item.mailAddress}}</p>
                        <!--TODO ボタン画像変更-->
                        <md-button ng-click="mailAddressEdit()">
                            <svg width="24px" height="24px" viewBox="315 15 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                              <defs></defs>
                              <g id="Material/Icons-black/chevron-right" stroke="none" fill="none" transform="translate(315.000000, 15.000000)" fill-rule="evenodd">
                                  <polygon id="Shape" fill="#D8001A" points="8.59997559 7.4 9.99997559 6 15.9999756 12 9.99997559 18 8.59997559 16.6 13.1999756 12"></polygon>
                              </g>
                            </svg>
                        </md-button>
                        <md-button ng-click="mailAddressDelete()">
                            del
                        </md-button>
                      </li>
                    </ul>
                  </md-card-content>
                    <!--通知設定ボタン-->
                  <md-button class="md-accent md-button md-ink-ripple" ng-click="alertSetting()" type="button" ng-transclude="">
                    <div class="md-ripple-container">通知設定</div>
                  </md-button>
                  <!--追加ボタン-->
                  <md-button class="md-accent md-button md-ink-ripple" ng-click="mailAddressAdd()" type="button" ng-transclude="">
                    <div class="md-ripple-container">追加</div>
                  </md-button>
              </md-card>
          </md-content>
</div>

<footer class="footer">
</footer>
