
<!--ログイン画面-->
<div ng-controller="LoginCtrl">

<div ng-show="error" class="alert alert-danger">{{error}}</div>



<md-card class="loginbar">


<div class="logoContent">
<img src="/assets/images/nito_logo.png">
<div class="md-body-8">ホームチェッカー</div>
</div>
</md-card>



<md-card class="loginContent">

      <input type="hidden" ng-value="user.query" ng-init="user.query = getQuery()">



      <div class="md-body-7 loginText">Login</div>

      <md-input-container class="md-block">
        <label>ID</label>
        <input ng-model="user.userId">
      </md-input-container>

      <md-input-container class="md-block">
        <label>パスワード</label>
        <input ng-model="user.password">
      </md-input-container>

      <div layout layout-align="center">
      <md-button flex class="md-accent md-button md-ink-ripple md-text-button-2" type="button" ng-click="login()" ng-transclude="">
        <div class="md-ripple-container md-ripple-container-2">ログイン</div>
      </md-button>
    </div>

</md-card>

<!-- <button class="btn btn-primary" type="buttom" ng-click="login()">Login</button> -->

</div>
